<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="aiAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
    </appender>

    <root level="INFO">
        <appender-ref ref="aiAppender"/>
    </root>

</configuration>